@import "variable.styl"

body, html
  line-height 1
  font-family "PingFang SC", "STHeitiSC-Light", "Helvetica-Light", arial,
  sans-serif, "Droid Sans Fallback"
  user-select none // 文字不可选中
  -webkit-tap-highlight-color transparent // ios上点击可点击元素时，出现短暂的背景
  background $color-background
  color $color-text
